.primary-menu > ul {
	margin-top:30px;
}

.main-navigation {
	display: block;

	font-family: $font__sans;
	font-weight: 400;
	clear: left;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-top: 1em;
		padding-left: 0;

		ul {
			display: none;
			top: 1.5em;
			z-index: 99998;
			padding-top: 0;
			padding-bottom: 1em;

			ul {
				top: 0;
			}

			li {
				padding-left: 1em;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 100%;
				border-top-left-radius: 12px;
				border-bottom-left-radius: 12px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
	}

	a {
		display: inline-block;
		width: 100%;
		padding: .5em 1em .5em 0;
		text-decoration: none;
		color: black;
		padding-left: 1em;
		// border: solid black;
		// border-width: 1px 0px;
	}

	a:hover,
	a:focus {
		text-decoration: none;
		background-color: #40E0D0;
	}

	// .current_page_item > a,
	// .current-menu-item > a,
	// .current_page_ancestor > a,
	// .current-menu-ancestor > a {
	// }

	.menu-item-has-children,
	.page_item_has_children {
		min-width: 218px;
	}
	.menu-item-has-children > a,
	.page_item_has_children > a {
		padding-right: 2em;
	}
}

button.dropdown-toggle {
	position: absolute;
	right: 0;
	border: none;
	background: inherit;
	color: black;
	line-height: 1.5em;
	padding: .4em 1em .4em .5em;
}

.menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	margin: 1.2em 1.2em 0 0;
	padding: .6em .8em;
	font-size: 80%;
	text-transform: uppercase;
	color: black;
	border: 1px solid black;
	z-index: 99999;

}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: #40E0D0;
}

/* Toggle small menu and children on */
.toggled-on ul,
ul.children.toggled-on,
.primary-menu.toggle-on,
.sub-menu.toggled-on {
	display: block;
}

@media screen and (min-width: $query__small) {
	.menu-toggle {
		display: none;
	}

	button.dropdown-toggle {
		position: absolute;
		right: 0;
		border: none;
		background: inherit;
		color: black;
		line-height: 1.5em;
		padding: .2em .7em;
		border: 2px solid black;
		border-radius: 100%;
		background-color: white;
		transition: border-width .15s ease-in, font-weight .2s ease-in;
	}

	// button.dropdown-toggle {
	// 	position: absolute;
	// 	right: 0;
	// 	border: none;
	// 	background: inherit;
	// 	color: black;
	// 	line-height: 1.5em;
	// 	transition: border-width .15s ease-in, font-weight .2s ease-in;
	// }

	button.dropdown-toggle:hover,
	button.dropdown-toggle:focus {
		font-weight: 700;
	}

	.main-navigation {

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			text-decoration: none;
			background-color: #40E0D0;
		}

		a {
			display: inline-block;
			text-decoration: none;
			background-color: white;
			color: black;
			border-radius: 12px;
		}
	
		a:hover,
		a:focus {
			text-decoration: none;
			background-color: #40E0D0;
			// border: none;
		}

		li {
			border-radius: 12px;
			margin: 2px 0px;
		}

		li:hover,
		li:focus {
			// background-color: #40E0D0;
		}

		ul {
			transition: height .2s ease-in;
		}

		.menu-item-has-children > a,
		.page_item_has_children > a {
			padding-right: 2em;
			background: hsla(0, 0%, 100%, .1);
		}

		.menu-item-has-children > a:hover,
		.page_item_has_children > a:focus {
			text-decoration: none;
			background-color: #40E0D0;
			border: none;
		}

		ul {
			display: block;
			display: flex;
			flex-wrap: wrap;

			ul {
				flex-direction: column;
				background: hsla(0, 0%, 100%, .1);
				margin-left: 0;

				li {
					padding-left: 0;

					a {
						width: 218px;
						background: none;
					}

					a:hover,
					a:focus {
						text-decoration: none;
						background-color: #40E0D0;
						// border: none;
					}
				}

				li:hover,
				li:focus {
					// background-color: white;
				}
			}

			li {

				a {
					padding: .4em 1em;
				}
				a:hover,
				a:focus {
					text-decoration: none;
					background-color: #40E0D0;
					// border: none;
				}
			}

			li:hover,
			li:focus {
				// background-color: #40E0D0;
			}
		}

	}

}

@media screen and (min-width: $query__medium) {
	
	.main-navigation {
		display: block;
		display: fixed;
		padding-top: 10em;

		li:hover,
		li:focus {
			background-color: white;
		}

		ul {
			display: block;
            display: fixed;
            // padding-top: 250px;
		}

		a {
			display: inline-block;
			width: 85%;
			padding: .5em 1em .5em 0;
			text-decoration: none;
			background-color: white;
			color: black;
			border-style: solid;
			border-color: black;
			border-radius: 0px 12px 12px 0px;
			border-left: 0;
			transition: width .25s ease-in, padding-left .3s ease-in;
		}
	
		a:hover,
		a:focus {
			width: 95%;
			padding-left: 2em;
			text-decoration: none;
			background-color: #40E0D0;
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			text-decoration: none;
			background-color: #40E0D0;
		}

		.children {
			a {
				display: inline-block;
				width: 85%;
				padding: .5em 1em .5em 2em;
				text-decoration: none;
				background-color: white;
				color: black;
				border: none;
			}
		
			a:hover,
			a:focus {
				width: 85%;
				padding: .5em 1em .5em 2em;
				text-decoration: none;
				background-color: #40E0D0;
				border: none;
			}
	
			.current_page_item > a,
			.current-menu-item > a,
			.current_page_ancestor > a,
			.current-menu-ancestor > a {
				text-decoration: none;
				background-color: #40E0D0;
			}
		}
		

	}

	button.dropdown-toggle {
		position: absolute;
		right: 0;
		border: none;
		background: inherit;
		color: black;
		line-height: 1.5em;
		padding: .2em .7em;
		border: 2px solid black;
		border-radius: 100%;
		background-color: white;
		transition: border-width .15s ease-in, font-weight .2s ease-in;
	}

	button.dropdown-toggle:hover,
	button.dropdown-toggle:focus {
		border-width: 3px;
		font-weight: 700;
	}
}